.orange-bold {
  color: #fb8958;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; // 125%
  letter-spacing: -0.24px;

  @media (max-width: 1200px) {
    text-align: center;
    padding: 0px 20px;
  }
}
.text-orange {
  color: #fb8958;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; // 125%
  letter-spacing: -0.24px;

  @media (max-width: 1200px) {
    text-align: center;
    padding: 0px 20px;
  }
}

.sub-title {
  color: #3d4f5c;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; // 100%
  letter-spacing: -1px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}
.number-orange {
  color: #fb8958;
  font-size: 24px;
  line-height: 30px; // 125%
  letter-spacing: -0.24px;
  margin: 0px;
  font-weight: 500;
  @media (min-width: 1200px) {
    width: 100%;
    padding-left: 80px;
  }
}
.line {
  @media (min-width: 1200px) {
    width: 100%;
    padding-left: 80px;
  }
}
.description {
  color: #3d4f5c;
  font-size: 30px;
  line-height: 38px; /* 126.667% */
  width: 300px;
  width: 100%;
  padding-left: 80px;
  font-weight: 500;
  @media (max-width: 1200px) {
    font-size: 24px;
    padding: 0px 70px;
    text-align: center;
  }
}
.assistant {
  width: 114px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px rgba(187, 169, 142, 0.55);
  background: #f5f5f5;
  padding: 20px;
}

/* Footer */

.gray-text {
  color: #939393;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  @media (max-width: 1000px) {
    text-align: center;
  }
}
.link-title {
  color: #3d4f5c;
  font-size: 22px;

  font-weight: 400;
  line-height: 18px;
  @media (max-width: 1000px) {
    text-align: center;
  }
}

.list-item {
  color: #46b8c8;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;

  @media (max-width: 1000px) {
    text-align: center;
  }
}
.list-item:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.logos {
  width: 23px;
  cursor: pointer;
}
.col-sizer {
  width: 150px;
}
