.custom-btn {
  height: 45px;
  flex-shrink: 0;
  border-radius: 32.5px;
  background: #46b8c8;
  border: 1px solid transparent;
  transition: all 0.3s ease; // smooth transitions

  &:hover {
    background-color: darken(#46b8c8, 80%);
    border-color: lighten(#46b8c8, 50%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid lighten(#46b8c8, 20%);
  }
}
