.custom-btn {
  height: 45px;
  flex-shrink: 0;
  border-radius: 32.5px;
  background: #46b8c8;
  border: 1px solid transparent;
  transition: all 0.3s ease; // smooth transitions

  &:hover {
    background-color: darken(#46b8c8, 10%); // darken the background slightly on hover
    border-color: lighten(#46b8c8, 10%); // lighten the border color slightly on hover
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); // subtle shadow to make it look "elevated"
  }

  &:active {
    transform: scale(0.98); // slight "press" effect
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid lighten(#46b8c8, 20%); // subtle focus border
  }
}
